@import "../../style/mixin.scss";

.heading {
  margin-top: 30px;
  @extend %df;
  h2 {
    @extend %heading;
    @include media(768px){
      font-size: 40px;
    }
    @include media(400px){
      font-size: 30px;
    }
  }
}
.pizza_row {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  @include media(1236px){
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
  @include media(890px){
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  @include media(648px){
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}

.info {
  margin: 25px auto;
  max-width: 850px;
  max-height: 308px;
  h1 {
    @extend %heading;
  }

  p {
    margin-top: 15px;
  }

  .info_text {
    max-height: 450px;
    overflow: hidden;
    position: relative;
  }

  .info_text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    background: linear-gradient(transparent, #f9f9f9);
    z-index: 1;
  }

  .info_text.show::after {
    display: none;
  }

  .info_text.blur {
    filter: blur(0.4px);
  }

  .see_more {
    display: flex;
    justify-content: start;
    margin-top: 10px;
  }
  .seeMore,
  .hideContent {
    padding: 15px;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    font-size: 20px;
    background: #ff7010;
    border-radius: 12px;
    cursor: pointer;
  }
  .hide_content {
    display: flex;
    justify-content: start;
    margin-top: 10px;
  }
  .see_more.hide {
    display: none;
  }
}
#pizza_info {
  display: flex;
  flex-direction: column;
  margin-bottom: 500px;
  h1{
   @include media(768px){
    font-size: 30px;
   }
   @include media(400px){
    font-size: 25px;
   }
  }
}
#price {
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 6px;
  border: 1px solid var(--line-gray, #f0f0f0);
  background: #fff;
}
