@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container{
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 20px;
}

html{
  scroll-behavior: smooth;
}